<h2 class="sub_head"><%= @band.name %></h2>


<!-------- BAND INFO ------- -->
<div class="col-md-9">
  <h4 class="sub_head">Band Info</h4>
  <p>
    Create seperte database to store band info. User would be able to input band info into this field.
  </p>
  <p>
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
  </p>
  <h4 class="sub_head">Venues</h4>
    <% if @band.venues.any? && @band.venues != nil %>
      <% @band.venues.each() do |venue| %>
      <p><a href="/venues/<%= venue.id %>"><%= venue.name %></a></p>
      <% end %>
    <% end %>
</div>


<!-------- ALTER BAND ------- -->
<div class="col-md-3">
  <h4 class="sub_head">Add a Venue that this Band Plays</h4>
  <div class="form-group">
  <form action="/bands/<%= @band.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
   <% if @venues.any? && @venues != nil %>
      <% @venues.each do |venue| %>
        <% unless @band.venues.include?(venue) %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="venue_checks[]" id="<%= venue.id %>" value="<%= venue.id %>"> <%= venue.name %>
          </label>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <button type="submit" id="venue_check_button" name="venue_check_button" class="btn btn-danger">Add Venue</button>
  </form>
  </div>
  <h4 class="sub_head">Change the Band Name</h4>
  <div class="form-group">
  <form action="/bands/<%= @band.id %>/rename" method="post">
  <input type="hidden" name="_method" value="patch">
    <input required type="text" name="new_band_name" id="new_band_name" class="form-control">
    <button type="submit" id="new_band_name_button" name="new_band_name_button" class="btn btn-danger">Rename Band</button>
  </form>
  </div>
  <h4 class="sub_head">Delete this Band</h4>
  <div class="form-group">
  <form action="/bands/<%= @band.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
    <label for="delete_band">Enter the Band Name to Delete:</label>
    <input required type="text" name="delete_band" id="delete_band" class="form-control">
    <button type="submit" id="delete_band_button" name="delete_band_button" class="btn btn-danger">Delete Band</button>
  </form>
  </div>
</div>
